MemoryCaptures/
Recordings/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

.DS_Store
Thumbs.db
.vscode/
.idea/
Library/
Temp/
Logs/
UserSettings/
Build/
Builds/
.vs/
[Oo]bj/